
#fp_main {
    // background-image: url("https://i.imgur.com/V324XgZ.jpg"); 
    // background-repeat: repeat; 
    // width: 100vw;
    // height: 100vh;
    // position: relative;
    // border: red 5px solid;

    #background {
         border: red 5px solid;
        max-width: 100vh;
        max-height: 100vh;
        position: relative;
        display: flex;
    }

    .board-menu {
        position: absolute;
        top: 2%;
        left: 1%;
    }


}

.notes {
    border: 5px purple solid;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 6%;
    left: 20%;
}