#footer_main {
    position: absolute;
    bottom: 20px;
    display: flex;
    flex-direction: column;

    #create-icon {
        display: flex;
        margin-bottom: 15px;
        margin-left: 10px;
    }

    #about-icon {
        display: flex;
        margin-left: 10px;
    }


}