
.myboard_main {
    display: flex;
    position: relative;
}

.board_menu {
    position: absolute;
    top: 5%;
    left: 35px;
}

.myboard {
    display: flex;
    position: absolute;
    margin-top: 20px;

    .my-board-header {
        color: white;
        font-size: 30px;
        font-weight: 700;
    }
}

.mylists {
    // border: 1px purple solid;
    width: 40vw;
    margin-left: 30%;
}

.mynotes {
    display: flex;
    flex-direction: column;
    align-items: center;
}