
.myboard_main {
    display: flex;
    position: relative;
    // border: 2px red solid;
}

.board_menu {
    position: absolute;
}

.myboard {
    display: flex;
    position: absolute;
}

.mylists {
    border: 1px purple solid;
    width: 40vw;
    margin-left: 30%;
}

.mynotes {
    display: flex;
    flex-direction: column;
    align-items: center;
}