$primary-blue: rgb(0, 255, 225);
$primary-yellow: rgb(255, 234, 0);
$primary-magenta: rgb(255, 0, 179);
$primary-orange: rgb(255, 136, 0);
$primary-green: #28D701;

.p_header {
    font-size: 32px;
    font-weight: 700;
}

.p_modal {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    margin-top: 10%;
    left: 30%;
    padding: 2em;
    min-width: 36em;
    min-height: 36em;
    max-width: 100%;
    outline: transparent;
    box-shadow: 0px 10px 50px #1C1C1C;
    background-color: $primary-orange;
}