$primary-blue: rgb(0, 255, 225);
$primary-yellow: rgb(255, 234, 0);
$primary-magenta: rgb(255, 0, 179);
$primary-orange: rgb(255, 136, 0);
$primary-green: #28D701;


#note_main {



     .main_note {
          padding: 25px;
          margin-right: 20px;
          margin-left: 20px;
          margin-bottom: 20px;
          width: 200px;
          height: 200px;
          font-size: 10px;
      }

      .date-from {
           display: inline-flex;
           text-align: right;
           flex-direction: row;
      }

      .author-text {
           display: inline;
           text-align: left;
           margin-right: 10px;
      }

     //  .date-content {
     //      margin-left: 50px;
     //  }
}


.yellow {
 background-color: $primary-yellow;
}
.green {
     background-color: $primary-green;
}
.pink {
     background-color: $primary-magenta;
}
.blue{
     background-color: $primary-blue;
}
.orange {
     background-color: $primary-orange;
}

.like_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .like-button {
          margin-top: 12px;
          height: 4.7vh;
          width: 3.2vw;
     }

     .like-button:hover {
          height: 4.8vh;
          width: 3.3vw;
     }

    .like_content {
         margin-top: 25px;
    }
}

