
.main_note {
    background-color: darkorange;
    padding: 30px;
    margin: 20px;
    width: 200px;
    height: 200px;
    font-size: 10px;
}

.like_box {
    display: flex;
}

.like_content {
    margin: 0 20px;
}